.post-display {
  display: flex;
  margin: 20px 20px;
}

div p {
  margin: 0 10px;
  color: rgb(56, 54, 54);
  font-size: 18px;
}

button {
  margin: -10px 20px;
  color: red;
  background-color: white;
  border: none;
  font-size: 25px;
}
